*
{
    margin: 0;
}

body
{
    -webkit-font-smoothing: antialiased;
}

img,picture,video,canvas,svg
{
    display: block;
    max-width: 100%;
}

input,button,textarea,select
{
    font: inherit;
}

p,h1,h2,h3,h4,h5,h6
{
    overflow-wrap: break-word;
}

p
{
    text-wrap: pretty;
}

h1,h2,h3,h4,h5,h6
{
    text-wrap: balance;
}

:root
{
    --body-margin-bottom: 4rem;
    --main-margin: 1.5rem;
    --main-margin-negative: calc(0rem - var(--main-margin));
    --widget-padding-top: .5rem;
    --widget-padding-bottom: 1rem;
    --widget-padding-outer: 1rem;
    --widget-padding-inner: .7rem;
    --widget-border-radius-top-left: 0rem;
    --widget-border-radius-top-right: .5rem;
    --widget-border-radius-bottom-left: 1.3rem;
    --widget-border-radius-bottom-right: 1.3rem;
    --widget-img-size: 2.2rem;
    --widget-total-width: calc(var(--widget-img-size) + var(--widget-padding-outer) + var(--widget-padding-inner));

    --background-color-default: rgb(238, 238, 238);
    --text-color-default: black;
    --background-color-alternate: #333;
    --text-color-alternate: white;
    --background-color-splash: #002000;
    --text-color-splash: white;
    --text-color-splash-faint: #306030;
    --text-color-light: #333;
    --text-color-faint: #aaa;
    --background-sticky-heading: rgba(238, 238, 238, 0.85);
    --background-sticky-heading-opaque: rgba(238, 238, 238, 1);
    --gradient-sticky-heading: linear-gradient(0deg, var(--background-sticky-heading-opaque) 0%, var(--background-sticky-heading-opaque) 100%);
    --border-color-default: white;
    --border-color-splash: #002000;
    --border-width-default: 2px;
    --border-style-default: groove;
}

@media (prefers-color-scheme:dark)
{
    :root
    {
        --background-color-default: rgb(34, 34, 34);
        --text-color-default: #eef6ee;
        --background-color-alternate: #111;
        --text-color-alternate: #ddd;
        --background-color-splash: #002000;
        --text-color-splash: white;
        --text-color-splash-faint: #306030;
        --text-color-light: #999;
        --text-color-faint: #555;
        --background-sticky-heading: rgba(34, 34, 34, 0.85);
        --background-sticky-heading-opaque: rgba(34, 34, 34, 1);
    }
}

html
{
    scroll-behavior: smooth;
    accent-color: var(--background-color-splash)
}

body
{
    margin: 0 0 var(--body-margin-bottom) 0;
    font-size: 18px;
    text-align: right;
    font-family: Seravek,'Gill Sans Nova',Ubuntu,Calibri,'DejaVu Sans',source-sans-pro,sans-serif;
    color: var(--text-color-default);
    background-color: var(--background-color-default);
    border-color: var(--border-color-default);
    padding: 0;
}

body *
{
    text-align: left;
    box-sizing: border-box;
}

main>*+*
{
    margin-top: 2em;
}

article>*:not(h1)+*
{
    margin-top: 1.2em;
}

h1,h2,h3,h4,h5,h6
{
    line-height: 1.4;
    font-family: Avenir,Montserrat,Corbel,'URW Gothic',source-sans-pro,sans-serif;
}

input[type=search]
{
    background-color: var(--background-color-alternate);
    color: var(--text-color-alternate);
}

main>details
{
    padding-top: .5rem;
    padding-bottom: 1rem;
    padding-inline: 1rem;
}

main>details>summary
{
    margin-top: -.5rem;
    margin-right: -1rem;
    margin-bottom: .5em;
    margin-left: -1.7em;
}

details>summary
{
    margin-left: -1em;
}

details>details+details
{
    margin-top: 1em;
}

details>details>*+*
{
    margin-block: .5em;
}

a
{
    color: var(--text-color-default);
    text-decoration: 1px underline solid var(--text-color-faint);
}

.widget
{
    position: sticky;
    z-index: 999;
    top: 0;
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.widget.left
{
    float: left;
}

.widget img
{
    width: var(--widget-img-size);
    height: var(--widget-img-size);
}

.widget .button
{
    background: none;
    border: none;
    display: inline-block;
}

.widget.left .button
{
    padding: .5rem .7rem 1rem 1rem;
    padding: var(--widget-padding-top) var(--widget-padding-inner) var(--widget-padding-bottom) var(--widget-padding-outer);
}

.widget.right .button
{
    padding: .5rem 1rem 1rem .7rem;
    padding: var(--widget-padding-top) var(--widget-padding-outer) var(--widget-padding-bottom) var(--widget-padding-inner);
}

.widget-label
{
    background: none;
    display: inline-block;
    transform: translateY(-.7rem);
}

.widget-label:has(+.widget.right)
{
    padding: .82rem 0 1.25rem 0;
}

.widget:has(:popover-open)
{
    background-color: var(--background-color-alternate);
    border-top-left-radius: var(--widget-border-radius-top-left);
    border-top-right-radius: var(--widget-border-radius-top-right);
    border-bottom-left-radius: var(--widget-border-radius-bottom-left);
    border-bottom-right-radius: var(--widget-border-radius-bottom-right);
}

.menu
{
    --border-radius: 1.1rem;
    --border-thickness: var(--border-width-default);
    --padding-inline: calc(var(--border-radius) * 0.75);
    --padding-block: calc(var(--border-radius) * 0.6);
    --list-padding: calc(var(--padding-inline) * 0.3);
    --sub-list-padding: calc(var(--list-padding) * 4);
    --item-padding: calc(var(--padding-inline) * 0.7);
    --item-height: 2.6rem;
    --item-gap: 2px;
    --item-border-thickness: 0px;

    --menu-column-width: 10em;
    --menu-column-gap: 1.1em;
    --menu-section-gap: 0em;

    --block-total: calc(var(--padding-block) + var(--item-gap) + var(--border-thickness) + var(--item-border-thickness));
    --sub-offset: 0.5rem;

    --mobile-menu-margin: 2.8rem;
    --close-button-width: 3em;

    background-color: var(--background-color-alternate);
    color: var(--text-color-alternate);
    border: var(--border-thickness) var(--border-style-default) var(--border-color-default);
    border-radius: var(--border-radius);
    margin: 0;
    padding: 0 0 var(--border-radius) 0;
    
    max-width: calc(100vw - (var(--widget-total-width) * 2) - (var(--padding-inline) * 2));
    min-width: calc(var(--menu-column-width) + (var(--padding-inline) * 2));

    box-shadow: 2px 2px 4px #101010;
}

.menu .content
{
    max-width: calc(var(--menu-column-width) * 3 + var(--list-padding) * 2 + var(--menu-column-gap) * 2);
}

.menu *[data-moreinfo]:hover::after
{
    content: " (" attr(data-moreinfo) ")";
}

.menu ul
{
    list-style-type: none;
    margin: 0;
    padding: 0 var(--list-padding);
    display: flex;
    flex-wrap: wrap;
}

.menu ul > li
{
    flex: var(--menu-column-width) 1 0;
    min-width: 0;
}

.menu ul > li > ul
{
    padding: 0 var(--sub-list-padding);
}

.menu ul > li > ul > li
{
    flex: calc(var(--menu-column-width) - var(--sub-list-padding)) 1 0;
    min-width: 0;
}

.menu li
{
    padding: var(--item-gap) 0;
    display: flex;
    flex-direction: column;

    background-color: var(--background-color-alternate);
    border-bottom: var(--item-border-thickness) solid var(--border-color-splash);
}

.menu li:first-child
{
    border-top: var(--item-border-thickness) solid var(--border-color-splash);
}

.menu button,
.menu a
{
    font-family: inherit;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    text-decoration: none;
    border: none;
    padding: 0 var(--item-padding);

    display: block;
    min-height: var(--item-height);

    align-content: center;

    color: inherit;
    background-color: inherit;

    border-bottom: 1px solid transparent;
}

.menu button:hover,
.menu a:hover
{
    text-decoration: none;
    background-color: var(--background-color-splash);
    border-radius: calc(var(--border-radius) * 0.5);

    border-bottom: 1px solid var(--text-color-splash);
}

.menu button[popovertarget]::after
{
    content: " >";
}

.menu label
{
    align-content: center;
}

.menu form
{
    padding: var(--padding-inline);
    display: flex;
    gap: .5em;
}

.main.menu .content > ul
{
    gap: var(--menu-column-gap);
}

.main.menu .content > ul > li > button,
.main.menu .content > ul > li > a
{
    border-top: 1px solid var(--text-color-faint);
}

.main.menu .content > ul > li > button:hover,
.main.menu .content > ul > li > a:hover
{
    border-bottom-color: var(--text-color-splash);
}

#menu-search-input
{
    flex: 1 1;
}

@position-try --left-down {
    inset: unset;
    top: anchor(top);
    right: anchor(left);
}
@position-try --right-down {
    inset: unset;
    top: anchor(top);
    left: anchor(right);
}
@position-try --left-up {
    inset: unset;
    bottom: anchor(top);
    right: anchor(left);
}
@position-try --right-up {
    inset: unset;
    bottom: anchor(top);
    left: anchor(right);
}
@position-try --bottom-down {
    inset: unset;
    position-area: bottom center;
}
@position-try --bottom-up {
    inset: unset;
    position-area: top center;
}

.sub.menu
{
    padding: var(--padding-block) 0;
    inset: unset;
    top: calc(anchor(top) - var(--block-total) + var(--sub-offset));
    right: anchor(left);
    position-try-fallbacks: --right-down, --left-up, --right-up, --bottom-down, --bottom-up;
}

.sub.menu:popover-open > ul
{
    display: block;
}

.sub.menu:popover-open > ul > *
{
    flex: unset;
}

.mobile-menu-navigation
{
    display: none;
    margin-bottom: var(--main-margin);
}

.mobile-menu-navigation button
{
    text-align: center;
    padding: 0;
    min-height: 2rem;
    background: var(--background-color-default);
}

.mobile-menu-navigation button:hover
{
    background: var(--background-color-splash);
}

.mobile-menu-navigation button[popovertarget]
{
    width: var(--close-button-width);
    border-radius: 0 0 var(--border-radius) 0;
    border-bottom: 1px solid var(--border-color-default);
    border-right: 1px solid var(--border-color-default);
}

.mobile-menu-navigation button[popovertarget]::after
{
    content: "<";
}

.mobile-menu-navigation button[popovertarget=menu-main]
{
    width: var(--close-button-width);
    border-radius: 0 0 0 var(--border-radius);
    border-bottom: 1px solid var(--border-color-default);
    border-left: 1px solid var(--border-color-default);
    border-right: none;
}

.mobile-menu-navigation button[popovertarget=menu-main]::after
{
    content: "×";
}

/*.menu button[popovertargetaction=hide]::after
{
    content: "×";
}*/

#menu-widget-button
{
    anchor-name: --menu-widget-button;
}

#menu-main
{
    inset: unset;
    position-anchor: --menu-widget-button;
    top: calc(anchor(top) + var(--widget-padding-top));
    right: anchor(left);
}

#menu-movies-type-button
{
    anchor-name: --menu-movies-type-button;
}

#menu-movies-type
{
    position-anchor: --menu-movies-type-button;
}

#menu-movies-rating-button
{
    anchor-name: --menu-movies-rating-button;
}

#menu-movies-rating
{
    position-anchor: --menu-movies-rating-button;
}

#menu-movies-year-button
{
    anchor-name: --menu-movies-year-button;
}

#menu-movies-year
{
    position-anchor: --menu-movies-year-button;
}

#menu-movies-genre-button
{
    anchor-name: --menu-movies-genre-button;
}

#menu-movies-genre
{
    position-anchor: --menu-movies-genre-button;
}

#menu-persons-type-button
{
    anchor-name: --menu-persons-type-button;
}

#menu-persons-type
{
    position-anchor: --menu-persons-type-button;
}

#menu-persons-relations-button
{
    anchor-name: --menu-persons-relations-button;
}

#menu-persons-relations
{
    position-anchor: --menu-persons-relations-button;
}

@media (width <= 44rem) {
    .menu:popover-open > ul
    {
        display: block;
    }

    .menu > ul > *
    {
        flex: unset;
    }
}

@media (width <= 32rem) {
    #menu-movies,
    #menu-persons,
    #menu-main
    {
        position-anchor: unset;
    }

    #menu-main,
    .sub.menu
    {
        position: fixed;
        max-width: unset;
        min-width: unset;
        width: auto;
        height: auto;
        top: var(--mobile-menu-margin);
        left: var(--mobile-menu-margin);
        right: var(--mobile-menu-margin);
        bottom: var(--mobile-menu-margin);
    }

    .sub.menu
    {
        padding: 0 0 var(--padding-block) 0;
        box-shadow: none;
    }

    .sub.menu .content
    {
        max-height: caLc(100% - 4rem);
        overflow: auto;
    }

    .main.menu .content
    {
        margin-top: calc(0px - (var(--padding-inline) * 1.8));
        max-height: caLc(100% - 4rem + (var(--padding-inline) * 1.8));
        overflow: auto;
    }

    .main.menu .content > ul {
        gap: var(--menu-section-gap);
    }

    .menu ul
    {
        flex-direction: column;
    }

    .menu ul > li,
    .menu ul > li > ul > li
    {
        flex: auto;
    }

    .mobile-menu-navigation
    {
        display: flex;
    }

    .main.menu .mobile-menu-navigation
    {
        justify-content: flex-end;
    }

    .sub.menu .mobile-menu-navigation
    {
        justify-content: space-between;
    }

    .main.menu::backdrop
    {
        background-color: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2px);
    }
}

#search-widget-button
{
    anchor-name: --search-button;
}

#search-widget-form
{
    position: fixed;
    margin: 0;
    inset: auto;
    padding: var(--widget-padding-top) var(--widget-padding-top) var(--widget-padding-top) 0;
    margin-top: calc(0rem - var(--widget-padding-top));
    border: none;
    border-radius: 0 var(--widget-padding-top) var(--widget-padding-top) 0;
    background: var(--background-color-alternate);
    /*position-anchor: --search-button;
    position-area: center right;*/

    transition: display 0.2s, transform 0.2s ease-out, opacity 0.2s ease-in;
    transition-behavior: allow-discrete;

    transform: translateY(-7rem) translateX(-.3rem);
    opacity: 0;
}

#search-widget-form:popover-open
{
    display: inline;

    transform: translateY(var(--widget-padding-top)) translateX(-.3rem);
    opacity: 1;

    @starting-style {
        transform: translateY(-7rem) translateX(-.3rem);
        opacity: 0;
    }
}

.list.long a
{
    text-decoration: none;
}

.list.long li:hover a,.list.long li:active a
{
    text-decoration: 1px underline solid var(--text-color-faint);
}

.list.long li:hover a:hover,a:hover,a:active
{
    text-decoration: 1px underline solid;
}

main
{
    max-width: 36em;
    margin: 0 auto;
    padding: 0 var(--main-margin);
}

main>h1,main>article>h1,main>article>hgroup:first-of-type
{
    text-align: center;
    position: sticky;
    top: 0;
    padding: .5rem 4rem;
    margin-left: var(--main-margin-negative);
    margin-right: var(--main-margin-negative);
    background: var(--background-sticky-heading);
    background: var(--gradient-sticky-heading);
}

h1,hgroup *
{
    text-align: center;
}

h1
{
    font-size: 200%;
}

main>p
{
    text-align: left;
}

a,button,details>summary,label[for]:not([for=""]),input[type="submit"],input[type="button"]
{
    cursor: pointer;
}

details>summary>*
{
    display: inline-block;
}

footer
{
    position: relative;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1em;
    flex-direction: row;
    padding: 1rem 0;
    margin-top: 5rem;
    background: var(--background-color-alternate);
    color: var(--text-color-alternate);
    border-block: 1px solid var(--border-color-default);
}

.skip-link
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: var(--background-color-alternate);
    color: var(--text-color-alternate);
    padding: .5rem;
    translate: 0 -100%;
    transition: translate 150ms ease-in-out;
}

.skip-link:focus
{
    translate: 0;
    z-index: 999;
}

img.circle
{
    border-radius: 50%;
    object-fit: cover;
}

footer a
{
    color: var(--text-color-alternate);
}

header
{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-direction: row;
    background: var(--background-color-splash);
    color: var(--text-color-splash);
    border-bottom: none;
    
    box-shadow: 0 2px 4px #101010;
}

header a
{
    color: var(--text-color-splash);
    text-decoration: 1px underline solid var(--text-color-splash-faint);
}

header nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 1rem 0;
    line-height: .7;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
}

header nav ul>li
{
    padding: .5rem;
}

dt
{
    float: left;
    margin-right: 0.3em;
}

dd:before
{
    content: "—";
    margin-right: 0.3em;
}
